/* Sam Hanson, 2019-2024 (and beyond!). */
:root {
  --body: white;
  --main-header: #e62739;
  --pink: #FA7C92;
  --p1: black;
  --h1: darkred;
  --bar: white;
}

html {
    width: 100%;
    height: 100%;
    font-family: Roboto;
}

body {
    float: left;
    width: 100%;
    height: 100%;
    background-color: white;
}

ul{
  float: left;
  top: 5px;
}

ul li {
  margin-top: 10px;
}

#header {
    float: left;
    height: auto;
    width: 100%;
    color: darkred;
}

#header-name {
    float: left;
    width: auto;
    height: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

#header-title {
  float: left;
  width: 10%;
  clear: left;
  margin-left: 1%;
}

#header-color-btn {
    float: right;
    width: 10%;
    margin-right: 2.5%;
    font-size: 1.00vw;
    height: 30px;
}

#banner {
  float: left;
  width: 100%;
  margin-top: 10px;
  /*height: 25px;*/
  height: 1px;
  /*background-color: #8f1a00;*/
  background-color: lightgrey;
}

#content-body {
  background-color: white;
  float: left;
  height: auto;
  margin-top: 1%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  /*border: 3px solid black;
  border-radius: 5%;*/
}

#welcome-text {
    float: left;
    margin-left: 7%;
    margin-right: 10%;
    width: 80%;
    font-size: 20px;
    color: var(--p1);
    text-align: center;
}

#welcome-text div h1{
    margin-top: 5%;
    /*font-size: 55px;*/
    font-size: 35px;
    font-weight: 600;
    color: var(--h1)
}

#welcome-bold{
  float: left;
  width: 100%;
  margin-left: auto;
}

#media-coverage {
  float: left;
  margin-left:10%;
  margin-bottom: 5%;
  width:80%;
}


#column-wrapper {
    float: left;
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    text-align: center;
}

.cols {
    width: 45%;
    padding-bottom: 20px;
}

#left-col {
    float: left;
}

#right-col {
    float: right;
}

#vuln-ellipsis {
    font-size: 15px;
    font-weight: bold;
}

#header-link {
  text-decoration: none;
  color: darkred;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.btn-opt {
    font-weight: bold;
    margin-top: 12px;
    width: 90%;
    color: var(--bar);
    background-color: var(--h1);
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
}

.btn-opt:hover {
    background-position: 100% 0;
}

.btn-opt:focus {
    outline: none;
}

.column-section {
  float: left;
  margin-top: 50px;
}


.entry {
  float: left;
  margin-top: 20px;
  font-size: 15px;
}

.title-article-desc {
  float: left;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid black;
  width: 100%;
}

#article-body {
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  font-family: sans-serif;
}

#article-inner-wrapper p {
  float: left;
  margin-top: 10px;
  width: 75%;
  margin-left: 7%;
}

#article-inner-wrapper {
  padding: 10px;
}

#article-title {
  height: auto;
  width: 100%;
  font-size: 35px;
  font-weight: 600;
  color: var(--h1);
  border-bottom: 1px solid lightgrey;
}

.main-article-pic {
  float: left;
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#malware-warning-png {
  float: left;
  margin-left: 25%;
  height: 15%;
  width: 45%;
}

#article-pic {
  float: left;
  clear: right;
  width: 100%;
}

#article-pic img {
  float: left;
  margin-left: 12%;
  width: 40%;
}

.section-header {
  float: left;
  color: darkred;
  font-size: 30px;
  margin-top: 45px;
}

.section-header p {
  float: left;
  font-size: 15px;
  color: black;
}

.scrollable {
  float: left;
  width: 80%;
  height: 15%;
  overflow-y: scroll;
  margin-left: 7.5%;
  margin-right: 10%;
  font-size: 12px;
  border: 2px solid black;
  border-radius: 10px;
}

#column-wrapper .column-section h2 {
  color: var(--h1);
}

#website-credit {
  float: left;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  font-size: 10px;
  color: var(--p1);
  text-align: center;
}

#cve-table {
  margin-top: 1%;
  font-size: 15px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#cve-table thead tr {
    background-color: darkred;
    color: #ffffff;
    text-align: left;
}

table {
  width: 75%;
}


#cve-table th, #cve-table td {
    padding: 12px 15px;
}

#cve-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

#cve-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#cve-table tbody tr:last-of-type {
    border-bottom: 2px solid darkred;
}


/* ------------- FOR MOBILE ------------- */

@media only screen and (max-width: 900px) {

  #content-body {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    /*border: 3px solid black;
    border-radius: 5%;*/
  }

  #column-wrapper {
      width: 87%;
      margin: 0%;
  }

  #article-body {
    width: 100%;
    margin: 0%;
  }

  #main-article-pic {
    width: 100%;
    margin: 0%;
    margin-top: 3%;
    margin-bottom: 10px;
  }

  #article-pic img {
    float: left;
    width: 70%;
  }

  table, th, td {
    font-size: 10px;
  }


}
