/* Sam Hanson, 2019. */

:root {
  --body: white;
  --main-header: #e62739;
  --pink: #FA7C92;
  --p1: black;
  --h1: darkred;
  --bar: #6ed3cf;
}

html {
    width: 100%;
    height: 100%;
    font-family: Roboto;
}

body {
    float: left;
    width: 100%;
    height: 100%;
    background-color: white; /*#e8e6e4;*/
}

#header {
    float: left;
    height: auto;
    width: 100%;
    margin-left: 1%;
    color: darkred;
}

#header-name {
    float: left;
    width: auto;
    height: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

#header-title {
  float: left;
  width: auto;
  clear: left;
  margin-left: 1%;
}

#header-color-btn {
    float: right;
    width: 10%;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 1.00vw;
    height: 30px;
}

#banner {
  float: left;
  width: 100%;
  margin-top: 10px;
  /*height: 25px;*/
  height: 1px;
  /*background-color: #8f1a00;*/
  background-color: lightgrey;
}

#content-body {
  background-color: white;
  float: left;
  height: auto;
  margin-top: 1%;
  width: 60;
  margin-left: 20%;
  margin-right: 20%;
  /*border: 3px solid black;
  border-radius: 5%;*/
}

#welcome-text {
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-size: 20px;
    color: var(--p1);
    text-align: center;
}

#welcome-text div h1{
    margin-top: 5%;
    /*font-size: 55px;*/
    font-size: 35px;
    font-weight: 600;
    color: var(--h1)
}

#column-wrapper {
    float: left;
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    text-align: center;
}

.cols {
    width: 45%;
}

#left-col {
    float: left;
}

#right-col {
    float: right;
}

.btn-opt {
    font-size: 1.65vw;
    margin-top: 12px;
    width: 90%;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-opt:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-opt:focus {
    outline: none;
}

/* Color options for buttons: */
.btn-opt.color-1 {
    background-image: linear-gradient(to right, #ff3399, #00ff00, #30dd8a, #ffcc66);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-opt.color-2 {
    background-image: linear-gradient(to right, #ff9900, #ff0000, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-opt.color-3 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-opt.color-4 {
    background-image: linear-gradient(to right, #0066ff, #852D91, #66ccff, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-opt.color-5 {
    background-image: linear-gradient(to right, #ed6ea0, #ff9966, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-opt.color-6 {
    background-image: linear-gradient(to right, #0066ff, #ff3399, #f7186a , #cc33ff);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-opt.color-7 {
    background-image: linear-gradient(to right, #ff6600 , #cc33ff, #ff3399 , #66ff33);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.column-section {
  float: left;
  margin-top: 50px;
}

.entry {
  float: left;
  margin-top: 20px;
  font-size: 15px;
}

.title-article-desc {
  float: left;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid black;
  width: 100%;
}

#article-body {
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  font-family: sans-serif;
}

#article-inner-wrapper p {
  float: left;
  margin-top: 10px;
  width: 75%;
  margin-left: 7%;
}

#article-inner-wrapper {
  padding: 10px;
}

#article-title {
  height: auto;
  width: 100%;
  font-size: 35px;
  font-weight: 600;
  color: var(--h1);
  border-bottom: 1px solid lightgrey;
}

#main-article-pic {
  float: left;
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#article-pic {
  float: left;
  clear: right;
  width: 100%;
}

#article-pic img {
  float: left;
  margin-left: 12%;
  width: 40%;
}

.section-header {
  float: left;
  color: darkred;
  font-size: 30px;
  margin-top: 45px;
}

.section-header p {
  float: left;
  font-size: 15px;
  color: black;
}

#column-wrapper .column-section h2 {
  color: var(--h1);
}


/* ------------- FOR MOBILE ------------- */

@media only screen and (max-width: 900px) {

  #content-body {
    width: 100;
    margin-left: 5%;
    margin-right: 5%;
    /*border: 3px solid black;
    border-radius: 5%;*/
  }

  #column-wrapper {
      width: 100%;
      margin: 0%;
  }

  #article-body {
    width: 100%;
    margin: 0%;
  }

  #main-article-pic {
    width: 100%;
    margin: 0%;
    margin-top: 3%;
    margin-bottom: 10px;
  }

  #article-pic img {
    float: left;
    width: 70%;
  }

}
